<div class="entry_section">
<form action="/sessions" method="POST">
<label>Email</label>
<input type="email"  name="email" placeholder="Email">
<label>Password</label>
<input type="password"  name="password" placeholder="Password">
<input class="login_form" type="submit" value="Login">
</form>
</div>


