<table id="species">
  <tr>
    <th>Species</th>
  </tr>
</table>

<table id="spacehship">
  <tr>
    <th>Spaceship</th>
  </tr>
</table>

<table id="planet">
  <tr>
    <th>Planet</th>
  </tr>
</table>
