<div class="entry_section">
<form action="/sessions" method="POST">
<label>Email</label>
<input type="email"  name="email" placeholder="Email">
<label>Password</label>
<input type="password"  name="password" placeholder="Password">
<input class="login_form" type="submit" value="Login">
</form>
</div>

<!-- <div class="home">
<form action="/users/new" method="GET">
  <input type="submit" value="Register" class="register">
</form> -->
<!-- <div class="header" id="species">
<table>
  <tr>
    <th>Species</th>
  </tr>
  <tr>
  	<td>asdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasf</td>
  </tr>
</table>
</div>

<div class="header" id="spaceship">
<table>
  <tr>
    <th>Spaceship</th>
  </tr>
  <tr>
  	<td>asdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasf</td>
  </tr>
</table>
</div>

<div class="header" id="planet">
<table>
  <tr>
    <th>Planet</th>
  </tr>
  <tr>
  	<td>asdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasfasdfasdfasdfadsfafasdfasfasdfasdfasf</td>
  </tr>
</table>
</div>
 -->

