html { 
  background: url(droid-factory-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
};


body {
	color: white;
	font-family: 'Baloo Paaji', cursive;

};

.header {
	border: 1px solid white;
	display: inline-block;
	color: white;
	margin: 30px;
    background-color: black;
    border: 1px solid white;
    background-opacity: 0.6;
    text-align: center;


};

.entry_section {
	display: inline-block;
	float: center;
	padding: 10px;
	background-color: black;
};

.generate {
	padding: 300px;
	text-align: center;
	color: white;
	background-color: black;
	border:2px solid #336600;
	padding:3px;
	align: center;
};	

.register {
	padding: 300px;
	text-align: center;
	color:white;
	background-color: black;
	border:2px solid #336600;
	padding:3px;
	align: center;

};	

.register_pg_button {
	padding: 300px;
	text-align: center;
	color:white;
	background-color: black;
	border:2px solid #336600;
	padding:3px;
	align: center;
};

.login {
	padding: 300px;
	text-align: center;
	color: white;
	background-color: black;
	border:2px solid #336600;
	padding:3px;
	align: center;
};

.login_form {
	padding: 300px;
	text-align: center;
	color: white;
	background-color: black;
	border:2px solid #336600;
	padding:3px;
	align: center;
};

.container {
	display: flex;
	justify-content: center;
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	border-width: 1px;
	border-color: white;
	background-color: black;
}

#left_column {
	/*float: left;*/
	/*width: 25%;*/
	padding: 20px;
}

#middle_column {
	/*float: center;*/
	/*width: 25%;*/
	padding: 20px;
}

#right_column {
	/*float: right;*/
	/*width: 25%;*/
	padding: 20px;
}

.columns {
	color: white;
	font-size: 125%;
	border-width: 1px;
	background-color: black;
	background-opacity: 0.50;
	align: center;
	font-family: 'Baloo Paaji', cursive;
}
/*
h1 {
	color: white;
	font-size: 125%;
	border-width: 1px;
	background-color: black;
	background-opacity: 0.50;
	align: center;
	font-family: 'Baloo Paaji', cursive;*/
}