<%if @errors %>
	<% @errors.each do |error| %>
		<p><%= error %></p>
		<%end%>
	<%end%>




<div class="entry_section">
<form action="/users" method="POST">
	<label>Email</label>
		<input type="email" name="user[email]" placeholder="Email">
	<label>Password</label>
		<input type="password" name="user[password]" placeholder="Password">
	<input class="register_pg_button" type="submit" value="Register">
</form>
</div>

