<!-- <h1><%= @user.email %>'s Profile Page</h1>

<div class="entry_section">
<form action="/sessions/<%= @user.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Log Out" class="logout">
</form>
<form action="/users/generate" method="GET">
	<input type="submit" name="generate" value="Generate">
</form>
<div> -->

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Starwars Generator</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
            	<h3><%= @user.email %></h3>

			</li>
			<li>
				<form action="/sessions/<%= @user.id %>" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" value="Log Out" class="logout">
				</form>
			</li>
			<li>
				<form action="/users/generate" method="GET">
					<input type="submit" name="generate" value="Generate">
				</form>
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    