<h1><%= @user.email %>'s Profile Page</h1>

<div class="entry_section">
<form action="/sessions/<%= @user.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Log Out" class="logout">
</form>
<form action="/users/generate" method="GET">
	<input type="submit" name="generate" value="Generate">
</form>
<div>

