<div class="entry_section">
<form action="/sessions/new" method="GET">
	<input type="submit" value="Log In" class="login">
</form>
<form action="/users/new" method="GET">
  <input type="submit" value="Register" class="register">
</form>
</div>

