<div class="home">
<form action="/users/new" method="GET">
  <input type="submit" value="Register" class="register">
</form>

<form action="/sessions/new" method="GET">
  <input type="submit" value="Generate Alias" class="generate">
</form>
</div>
 	)